/* css for delete/create/update forms */

.navbar{
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar a {
    padding: 8px 6px 16px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    
}

.navbar a:hover {
    color: #f1f1f1;
}

body{
    padding-top: 50px;
    font-size: 26px;
    text-align: center;
    color: white;
    background-color: green;
}